body {
    font-family: 'Roboto Slab', serif;
    background: #6cf;    
}

.container {
    /* height: 330px;
    width: 1000px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 1px solid #00038C;
    box-shadow: 0 0 8px 3px #fff;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #00038C;
}

.question {
    padding: 20px;
    font-size: 22px;
    background: #00038C;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}

.option:hover {
    background: #00038C;
    color: #f6f6f6;
}

.next-btn {
    border: none !important;
    outline: none !important;
    background: green;
    width: 16%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
    color: whitesmoke;
}

.next-btn:hover {
    background: #00038C;
    color: #f6f6f6;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
    padding: 0px !important;
} 

.option input:checked .option {
    background: #08038C;
    color: #fff;
}

@media (max-width: 575.98px) {
    .option {
        width: 280px !important;
        display: inline-block;
        padding: 10px 0 10px 15px;
        vertical-align: middle;
        background: rgba(255, 255, 255, 0.5);
        margin: 10px 0 10px 10px;
        color: #000000;
        border-radius: 20px;
    } 

    .question {
        width: 100%;
        font-size: 20px;
    }

    .result {
        font-size: 40px;
        height: 66px;
    }
   
}